<form action="/add/user" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email Address">
  <input type="text" name="phone" placeholder="Phone Number">
  <button type="submit">Add User</button>
</form>